body {
  background: rgb(113, 103, 178);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
  width: 300px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: large;
}

button {
  padding: 10px 20px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font: bold;
}

button:hover {
  background: #4338ca;
}
